<!DOCTYPE html>
<html>
    <head>
        <title>Title Page</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/animations.css">
    </head>
    <body ng-app='app'>
        <div ng-include="'/app/partials/menu/menu.html'"></div>

        <div class="container view-enter-animation" ng-view></div>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src='/bower_components/angular/angular.min.js'></script>
        <script src='/bower_components/angular-route/angular-route.min.js'></script>
        <script src='/bower_components/angular-animate/angular-animate.min.js'></script>

        <script src='/js/init.js'></script>
        <script src='/app/app.js'></script>
        <script src='/app/aluno/listagem/AlunoListagemController.js'></script>
        <script src='/app/aluno/novo/AlunoNovoController.js'></script>
        <script src='/app/aluno/editar/AlunoAlterarController.js'></script>
    </body>
</html>
