<!DOCTYPE html>
<html>
    <head>
        <title>Matricula</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" type="text/css" href="/bower_components/toastr/toastr.min.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/animations.css">
    </head>
    <body ng-app='app'>
        <div ng-include="'/app/partials/menu/menu.html'"></div>

        <div class="container view-enter-animation" ng-view></div>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src='/bower_components/toastr/toastr.min.js'></script>
        <script src='/bower_components/lodash/dist/lodash.min.js'></script>
        <!--<script src='/bower_components/jquery-meiomask/dist/meiomask.min.js'></script>-->
        <script src='/bower_components/momentjs/min/moment.min.js'></script>
        <script src='/bower_components/angular/angular.min.js'></script>
        <script src='/bower_components/angular-route/angular-route.min.js'></script>
        <script src='/bower_components/angular-animate/angular-animate.min.js'></script>
        <script src="/bower_components/angular-bootstrap-show-errors/src/showErrors.min.js"></script>

        <script src='/js/init.js'></script>
        <script src='/app/app.js'></script>
        <script src='/app/aluno/listagem/AlunoListagemController.js'></script>
        <script src='/app/aluno/novo/AlunoNovoController.js'></script>
        <script src='/app/aluno/detalhe/AlunoDetalheController.js'></script>
        <script src='/app/aluno/alterar/AlunoAlterarController.js'></script>
        <script src='/app/matricula/MatriculaController.js'></script>
        <script src='/app/aluno/comum/alunoService.js'></script>
        <script src='/app/aluno/listagem/alunoListagemService.js'></script>
        <script src='/app/comum/services/notificadorService.js'></script>
        <script src='/app/comum/services/lodashService.js'></script>
        <script src='/app/comum/filters/somarPorPropriedade.js'></script>
        <script src='/app/comum/filters/calcularIdadeEmAnos.js'></script>
    </body>
</html>
