<div class="page-header clearfix">
    <h1 class='pull-left'>{{ aluno.nome }}
        <small data-toggle='tooltip' data-placemente='top' title='Número de Matrícula'>{{ aluno.matricula }}</small>
    </h1>
    <div class="btn-group pull-right">
        <a href="#/matricula/{{ aluno.matricula }}" class='btn btn-primary btn-lg'>
            <i class="fa fa-file fa-fw"></i>
            <span ng-hide='aluno.estahMatriculado'>Matricular</span>
            <span ng-show='aluno.estahMatriculado'>Ajustar Matrícula</span>
        </a>
        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#/aluno/alterar/{{ aluno.matricula }}">
                    <i class="fa fa-pencil fa-fw"></i> Alterar Dados
                </a>
            </li>
        </ul>
    </div>
</div>

<div id='dadosAluno' class="row">
    <div class="col-md-3">
        <h3>
            <a href="mailto:{{ aluno.email }}?subject='Título do assunto'" data-toggle='tooltip'
                data-placement='top' title='Enviar email'>{{ aluno.email }}</a>
        </h3>
        <p>Email</p>
        <h3>
            <a href="tel:{{ aluno.fone }}" data-toggle="tooltip"
                data-placement="top" title="Fazer ligação">{{ aluno.fone }}</a>
        </h3>
        <p>Telefone</p>
    </div>
    <div class="col-md-3">
        <h3>{{ aluno.dataNascimento }}</h3>
        <p>Data de Nascimento</p>
        <h3>{{ aluno.dataNascimento | calcularIdadeEmAnos }} anos</h3>
        <p>Idade</p>
    </div>
    <div class="col-md-3">
        <h3>{{ aluno.grade.periodo }}</h3>
        <p>Grade</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Falta Cursar</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat='cadeira in cadeirasPentendes = (aluno.grade.cadeiras | filter:{ status: "pendente" })'>
                    <h4 class="list-group-item-heading">{{ cadeira.descricao }} <small class='text-muted'>{{ cadeira.creditos }}</small></h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Cursando</div>
            <ul class="list-group">
                <li class="list-group-item text-muted" ng-hide='aluno.estahMatriculado'>
                    Não está matriculado
                </li>
                <li class="list-group-item" ng-repeat='cadeira in cadeirasEmAndamento = (aluno.grade.cadeiras | filter:{ status: "cursando" })'>
                    <h4 class="list-group-item-heading">{{ cadeira.descricao }} <small class='text-muted'>{{ cadeira.creditos }}</small></h4>
                    <i class="fa fa-check-circle fa-lg pull-right concluirCadeira" data-toggle='tooltip' data-placement='top' title='Concluir'></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">Concluídas</div>
            <ul class="list-group">
                <li class="list-group-item text-muted" ng-hide='(aluno.grade.cadeiras | filter:{ status: "concluido" }).length'>
                    Não há cadeiras concluídas
                </li>
                <li class="list-group-item" ng-repeat='cadeira in cadeirasConcluidas = (aluno.grade.cadeiras | filter:{ status: "concluido" })'>
                    <h4 class="list-group-item-heading">{{ cadeira.descricao }} <small class='text-muted'>{{ cadeira.creditos }}</small></h4>
                </li>
            </ul>
        </div>
    </div>
</div>
