<div class="page-header clearfix">
    <h1 class='pull-left'>Alunos
        <small>
            <span class="dropdown">
                <a href='' class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <span class='text-muted'>exibir</span> {{ filtroAlunosLabel }}
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href='' ng-click="filtrarTabelaPor('', 'Todos')">
                            <i class="fa fa-list fa-fw fa-lg"></i>
                            Todos
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href=''
                            ng-click="filtrarTabelaPor({ estahMatriculado: true }, 'Matriculados')">
                            <i class="fa fa-check-circle fa-fw fa-lg"></i>
                            Matriculados
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href=''
                            ng-click="filtrarTabelaPor({ estahMatriculado: false }, 'Matrículas Pendentes')">
                            <i class="fa fa-exclamation-circle fa-fw fa-lg"></i>
                            Matriculas Pendentes
                        </a>
                    </li>
                </ul>
            </span>
        </small>
    </h1>
    <a href='#/aluno/novo' class="btn btn-primary btn-lg pull-right"><i class="fa fa-plus"></i> Novo Aluno</a>
</div>

<div class="row">
    <div class="col-md-8">
        <table class="table table-hover table-striped table-rounded">
            <thead>
                <tr class='success'>
                    <th class='no-pd-right'><!-- <i class="fa fa-search" data-toggle='tooltip' data-placement='top' title='Buscar'></i> --></th>
                    <th>
                        <span>Matrícula</span>
                    </th>
                    <th>
                        <span class='sortable' ng-click='ordenarTabelaPor("nome")'>
                            Nome
                            <span ng-show='ordenarAlunosPor === "nome"'>
                                <i class="fa fa-sort-alpha-asc fa-fw" ng-hide='reverterOrdenacao'></i>
                                <i class="fa fa-sort-alpha-desc fa-fw" ng-show='reverterOrdenacao'></i>
                            </span>
                        </span>
                    </th>
                    <th class='text-center'>
                        <span class='sortable' ng-click='ordenarTabelaPor("idade")'>
                            Idade
                            <span ng-show='ordenarAlunosPor === "idade"'>
                                <i class="fa fa-sort-numeric-asc fa-fw" ng-hide='reverterOrdenacao'></i>
                                <i class="fa fa-sort-numeric-desc fa-fw" ng-show='reverterOrdenacao'></i>
                            </span>
                        </span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='aluno in alunos | filter:filtrarAlunosPor | orderBy:ordenarAlunosPor:reverterOrdenacao'>
                    <td class='no-pd-right'>
                        <i class='fa fa-check-circle icone-matriculado' ng-show='aluno.estahMatriculado'
                            data-toggle="tooltip" data-placement="top" title="Matriculado"></i>
                        <i class='fa fa-exclamation-circle' ng-hide='aluno.estahMatriculado'
                            data-toggle="tooltip" data-placement="top" title="Matricula Pendente"></i>
                    </td>
                    <td><span>{{ aluno.matricula }}</span></td>
                    <td><span>{{ aluno.nome }}</span></td>
                    <td class='text-center'><span>{{ aluno.idade }}</span></td>
                    <td class='text-right'>
                        <div class="dropdown">
                            <i class="fa fa-gear dropdown-toggle" id='dropdownMenu' data-toggle='dropdown'></i>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#/matricula/{{ aluno.matricula }}">
                                        <i class="fa fa-check-circle fa-lg fa-fw"></i>
                                        <span ng-hide='aluno.estahMatriculado'>Matricular</span>
                                        <span ng-show='aluno.estahMatriculado'>Alterar Dados da Matricula</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#/aluno/alterar/{{ aluno.matricula }}">
                                        <i class="fa fa-edit fa-lg fa-fw"></i>
                                        Alterar Dados
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="" ng-click='excluirAluno(aluno)'>
                                        <i class="fa fa-times-circle fa-lg fa-fw"></i>
                                        Excluir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                Resumo
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <h3 class="list-group-item-heading">
                        {{ (alunos | filter:{ estahMatriculado: true }).length }}
                    </h3>
                    <p class="list-group-item-text">Matriculados</p>
                </li>
                <li class="list-group-item">
                    <h3 class="list-group-item-heading">
                        {{ (alunos | filter:{ estahMatriculado: false }).length }}
                    </h3>
                    <p class="list-group-item-text">Pendentes</p>
                </li>
            </ul>
        </div>
    </div>
</div>
